*{
    font-size: 16px;
}
.testing{
    height: 40px;
    background-color: blue;
}
.main-section{
    width: 80%;
    margin: auto;
}
.heading{
    background-color: lime;
}
.jumbotron p:nth-last-of-type(2){
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.jumbotron p:nth-last-of-type(1){
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.card{
    border: 2px solid black;
    width: 40%;
   
}

